@font-face {
   font-family: Poppins;
   src: url(https://fonts.google.com/specimen/Poppins);
   font-weight: 600;
}

@font-face {
   font-family: 'Open sans';
   src: url(https://fonts.google.com/specimen/Open+Sans);
   font-weight: 400, 700;
}

*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body{
   font-family: 'Open Sans';
}

header{
   background-image: url('./images/bg-hero-desktop.svg');
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   font-family: Poppins;
   display: flex;
   align-items: center;
   flex-direction: column;
   padding: auto 25px;
   background-color: hsl(193, 100%, 96%);
}

nav{
   display: flex;
   align-items: center;
   justify-content: space-around;
   width: 100%;
   margin-top: 25px;
}

.logo{
   width: 70px;
}

.navbtn{
   background-color: #fff;
   font-weight: bold;
   font-size: .345em;
   border: none;
   border-radius: 20px;
   padding: 5px 25px;
   box-shadow: 1px 1px 2px 1px lightgray;
}

.hero-section, .main-section{
   margin-top: 2em;
   display: flex;
   align-items: center;
   justify-content: space-between;
}

main{
   background-color: #fff;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   width: 80%;
   margin: auto;
}

.main-section{
   box-shadow: 1px 1px 4px 1px lightgray;
   border-radius: 4px;
}

h4{
   font-size: .876em;
}

p{
   font-size: .477em;
}

.left-div, .right-div{
   padding: 10px;
   height: 100%;
   margin: 3px auto;
}

.left-div h4, .left-div p, .left-div button{
   margin-top: 10px;
}
.left-div button{
   background-color: hsl(322, 100%, 66%);
   color: #fff;
   border-radius: 15px;
   padding: 5px 25px;
   border: none;
   font-weight: 100;
   font-size: .489em;
}

.main-illustrator {
   height: auto;
   width: 60%;
   margin: auto;
   display: block;
 }

 @media screen and (max-width: 376px){
   header{
      background-image: url('./images/bg-hero-mobile.svg');
   }
   .hero-section, .main-section{
      display: block;
   }
 }

 footer{
   background-color: hsl(192, 100%, 9%);
   color: hsl(208, 11%, 55%);
   display: flex;
   align-items: center;
   justify-content: center;
   /* flex-wrap: wrap; */
 }

 footer .div{
   padding-right: 7px;
 }